<!DOCTYPE html>
<html>

    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/fontawesome/css/all.min.css">
        <link rel="stylesheet" href="/fontawesome/css/fontawesome.min.css">

        <title>{% block title %}{% endblock %} - G-infra</title>

    </head>

    <body class="bg-primary">
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>

        <script src="/js/bootstrap.min.js"></script>
        <script src="/fontawesome/js/all.min.js"></script>

    </body>

</html>